body {
    margin: 20px;
    background-color: #f5f5f5;
    color: #000;
    font-family: 'Lato',sans-serif;
}


.box,.box img {
    border-radius: 5px;
}

.box {
    padding-left: 10px;
    margin-bottom: 10px;
    border: 1px solid #1d1d1b;
}
.box,.masthead,.page-title {
    border-bottom: .25rem solid #d71723;
}


.box img {
    width: 100%;
}

.box a,nav ul li a {
    text-decoration: none;
    color: inherit;
}

.masthead,.page-title {
    background-color: #1d1d1b;
}

.masthead {
    min-width: 360px;
    display: inline-flex;
    grid-area: masthead;
}

.masthead img {
    height: 172px;
    border-radius: 0;
}

.page-title {
    grid-area: page-title;
    color: #fff;
}

.navigation {
    grid-area: navigation;
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: 0;
    font-size: 1.6rem;
    color: #d71723;
}

nav {
    font-size: 1em;
    overflow: hidden;
}

nav h2 {
    display: inline;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: flex;
    padding: .8rem 2%;
    color: #000;
    border-top: 1px solid rgba(0,0,0,.3);
}

nav ul li.active a {
    color: #d71723;
    box-shadow: inset 0 -5px 0 #d71723;
}

nav ul li a:hover {
    color: #fff;
    background-color: #d71723;
}

nav ul.hide {
    display: none;
}

.main-content {
    grid-area: main-content;
    color: #000;
}

.sidebar {
    grid-area: sidebar;
}

.footer {
    grid-area: footer;
    text-align: center;
    font-size: .8rem;
    height: 8rem;
}

.wrapper {
    color: #000;
}

h1 {
    font-family: 'Hammersmith One',sans-serif;
    font-size: 2rem;
}

.homelink,h2, h3 {
    font-family: 'Lato',sans-serif;
    font-weight: 700;
}

.homelink {
    height: 4rem;
    font-size: 1.1rem;
}

.wrapper {
    display: grid;
    grid-gap: 1em;
    grid-template-areas:
        "navigation"
        "page-title"
        "masthead "
        "main-content"
        "sidebar"
        "footer";
}

#jsonTable {
    border-collapse: collapse;
}

#jsonTable table,#jsonTable td,#jsonTable th {
    border: 1px solid #000;
}

#jsonTable tr:nth-child(even) {
    background-color: #f5f5f5;
}

#jsonTable tr:nth-child(odd) {
    background: #fff;
}

.testimonial {
    font-style: italic;
    margin-bottom: 10px;
}

.testimonial img {
    max-width: 200px;
}

.regprice {
    text-decoration: line-through;
    color: red;
}

.saleprice {
    font-weight: 400;
    font-size: 1.2rem;
}

input,label,textarea {
    width: 80%;
    font-size: 1.25rem;
    border-radius: 5px;
}

fieldset {
    border: 0;
}

form section{
    color: #000;
}

section a {
    font-weight: 700;
}
#open_source_images{
    font-style: italic;
}
.resources {
    white-space: normal;
    width: 80vw;
    height: auto;
    word-wrap: break-word;

}
@media only screen and (min-width:768px) {
    .wrapper {
        grid-template-columns: 2fr 1fr;
        grid-template-areas:
            "page-title   masthead"
            "main-content  navigation"
            "main-content sidebar"
            "main-content ."
            "main-content footer";
    }

    nav button,nav h2 {
        display: none;
    }

    nav ul.hide {
        display: grid;
        grid-gap: .25rem;
        grid-template-columns: auto auto;
    }

    nav ul li a {
        border: 1px solid rgba(0,0,0,.3);
        border-radius: 5px;
        padding: .8rem 1rem;
        display: grid;
    }
    .resources {
        white-space: normal;
        width: 50vw;
        height: auto;
        word-wrap: break-word;
    }
}

@media only screen and (min-width:1200px) {
    .wrapper {
        grid-gap: 20px;
        grid-template-columns: 2fr 1fr 2fr;
        grid-template-areas:
            "page-title masthead navigation"
            "main-content main-content sidebar"
            "main-content main-content ."
            "main-content main-content footer";
    }

}
