/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* { margin: 0; box-sizing: border-box; }

body {
    font-size: 16px;
    line-height: 32px;
    font-family: /* Ubuntu, sans-serif */;
    color: /* #xxxxxx */;
}

h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2rem;
    color: #ffffff;
}

h2 {
    font-size: 1.75rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    border-bottom: 2px solid #bbb;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: /* xxxpx (px = pixel is a unit of measure)  */;
}

header, footer, footer a {
    text-align: center;
    background-color: #000000;
    color: whitesmoke;
}

header img {
    width: 200px;
    height: auto;
    float: right;
}

footer {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12;
}
p.style1 {
    margin: 0 auto;
    border: 1px solid #bbb;
    padding: 5px;
    background-color: #eee;
    line-height: 1.5em;
}
